# Could also use a line such as pybricks==3.3.0a5
# Consider each fall locking the version number to make sure everyone is 
# on the same version.
#
# Locked to these versions in response to a bug in pybricks 3.6.0
# https://github.com/pybricks/support/issues/2317
# https://github.com/orgs/pybricks/discussions/2321#discussioncomment-14064713
pybricks==3.6.1
pybricksdev==1.0.0
